body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.header-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    text-align: center;
    padding: 10px;
    background-color: white;
    border-bottom: none;
    flex: 0 0 calc(100vh / 7 * 1.5); /* 전체 높이의 7분의 1.5 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 25px;
    margin: 0;
}

.signup-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 위쪽으로 배치 */
    background-color: white;
    overflow: hidden;
    padding: 40px 20px 20px 20px; /* 패딩을 추가하여 텍스트 위치 조정 */
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 폼 너비를 100%로 설정 */
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.button-group {
    margin-top: 40px; /* 로그인 버튼과 쿠폰번호 사이 간격을 벌림 */
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.signup-button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    .container {
        max-width: 400px;
    }
}
